include block_html/_style.jade
include ../module/**/*.jade


+header('header-slider')

.main-cont
	.sub-header
		.sub-header__content
			+breadcrumbs()
		.sub-header__navbar
			a(href="#").link--blue.print-link
				+icon("icon-newspaper","icon-el")
				span Версия для печати
			.time-stamp Актуально на 7.12.2017
.main-cont
	.content-title
		h1 Если вы продали машину
	.content
		.content-col
			p Налоговая декларация 3-НДФЛ – это документ, с помощью которого в России физические лица отчитываются по налогу на доходы физических лиц (НДФЛ). Декларация заполняется при помощи специальной формы. Форму (бланк) 3-НДФЛ, в том числе за 2017, 2016 и 2015 годы, можно скачать в разделе "Полезное". Там же можно посмотреть примеры и образцы заполнения 3-НДФЛ. Подготовить ее Вам поможет этот веб-сайт (в том числе декларацию за 2016 год, которая подается начиная с 2017 года).

			p Обычно декларацию 3-НДФЛ (которую некорректно называют также 3НДФЛ, НДФЛ-3 или "Ндфлка") должны подавать лица, продавшие имущество, имеющие доходы из-за рубежа и получившие прочие доходы, по которым налог не был уплачен. Также декларацию 3-НДФЛ должны подавать нотариусы, занимающиеся частной практикой, некоторые индивидуальные предприниматели и некоторые другие категории лиц.

			h2 Заголовок 2

			p 3-НДФЛ также подается для получения некоторых налоговых вычетов, например, при возврате подоходного налога при покупке квартиры.

			p Вы можете заполнить онлайн налоговую декларацию 3-НДФЛ за 2016, 2015 и 2014 годы на этом веб-сайте. Налогия поможет Вам, где бы Вы ни находились: Москва и Санкт-Петербург, Новосибирск и Екатеринбург, Нижний Новгород и так далее.

			ul
				li Элемент списка 1
				li Элемент списка 2
				li Элемент списка 3
				li Элемент списка 4

			h3 Заголовок 3

			p 3-НДФЛ также подается для получения некоторых налоговых вычетов, например, при возврате подоходного налога при покупке квартиры.

			p Вы можете заполнить онлайн налоговую декларацию 3-НДФЛ за 2016, 2015 и 2014 годы на этом веб-сайте. Налогия поможет Вам, где бы Вы ни находились: Москва и Санкт-Петербург, Новосибирск и Екатеринбург, Нижний Новгород и так далее.
		+navbars()




+footer()



include ./block_html/_script.jade
