include block_html/_style.jade
include ../module/**/*.jade

.slider-main
	.header-slider
		+header()
	.slider-main__wrap.owl-carousel
		- for (var i=0;i<3;i++)
			.slider-main__el(style="background-image:url('img/slider-main-el-#{i+1}.jpg')")
				.slider-main__filter
				.main-cont
					.slider-main__el-wrap
						.slider-main__content
							.slider-main__title Мы решим все Ваши проблемы	с декларацией З-НДФЛ
							.slider-main__text Мы помогли подготовить и подать декларации уже более 300 000 пользователей
							.slider-main__get
							a(href="#").btn--md.btn--blue Попробовать




include ./block_html/_script.jade
