.col
	padding-top: 0
	margin: 0
.nice-select
	br(0)
	margin-bottom: 20px
	display: block
	color #000000
	font-size 14px
	font-weight 700
	.list
		width: calc(100% )
		left 0px
		br(0)
		border 0px solid $border-color
		border-top 0
		margin-top: 0

select.select-beauty
	display: none!important

.nice-select:active, .nice-select.open, .nice-select:focus
	border 1px solid $border-color

.element-select
	padding: 20px 0

.element-grid
	text-align: center
	padding: 20px
	border 1px solid $border-color

.element-row
	margin-bottom: 20px

.nice-select
	float: none

.coner-wrap
	position: relative

.window-coner-top
	position: absolute
	size: 16px
	background: white
	top: -8px
	transform: rotate(45deg)
	left: 50%
	margin-left: -8px
	border 1px solid $border-color

.input-row
	position: relative

.input-placeholder-val
	position: absolute
	left 20px
	top 23px
	tr(all)
	color #888888

.input-animate
	display: inline-block
	z-index 20
	color black

.input-animate:focus+span,
.input-animate[data-empty="false"] + span
	top 6px
	font-size: 10px