@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
	.header-search-form
		left: -165px!important


@media screen and (max-width: 1024px) and (-ms-high-contrast: none), (-ms-high-contrast: active) 
	//for media