mixin breadcrumbs()
	//block breadcrumbs
	.bread
		.bread__el
			a(href="#") Главная
			+icon("arrow-right","icon-el")
		.bread__el
			a(href="#") Новости
			+icon("arrow-right","icon-el")
		.bread__el Страница

	//block breadcrumbs end