/*! block breadcrumbs*/
.bread
	+below(768px)
		width: 100%
		margin-bottom: 20px
		fw()
	f()
	color #999999
	.bread__el
		&:nth-of-type(2)
			.icon-el
				fill #999999
	.icon-el
		size 10px
		fill blue
		margin: 0 8px
	a
		color blue
/*!block breadcrumbs end */