mixin footer()
	//block footer
	.footer
		.main-cont
			//footer-head
			.footer-head
				.footer-head-cont
					.footer-head-cont__el
						.footer-head-cont__el-town Россия
						a(href="tel:8 800 500 3478").footer-head-cont__el-phone 8 800 500 3478 (бесплатно)
					.footer-head-cont__el
						.footer-head-cont__el-town Москва
						a(href="tel:8 (495) 646 8905").footer-head-cont__el-phone 8 (495) 646 8905
					.footer-head-cont__el
						.footer-head-cont__el-town Санкт-Петербург
						a(href="tel:8 (495) (812) 643 4225").footer-head-cont__el-phone 8 (812) 643 4225

				.footer-head-soc
					a(href="#").footer-head-soc__el
						+icon("soc-google","icon-el")
					a(href="#").footer-head-soc__el
						+icon("soc-ok","icon-el")
					a(href="#").footer-head-soc__el
						+icon("soc-youtube","icon-el")
					a(href="#").footer-head-soc__el
						+icon("soc-facebook","icon-el")
					a(href="#").footer-head-soc__el
						+icon("soc-twitter","icon-el")
					a(href="#").footer-head-soc__el
						+icon("soc-in","icon-el")
					a(href="#").footer-head-soc__el.vk-icon
						+icon("soc-vk","icon-el")
			//footer-head-end

			//footer-menu
			.footer-menu
				.footer-col
					.footer-menu__title Декларация 3-НДФЛ
					a(href="#").footer-menu__title-el Что такое 3-НДФЛ
					a(href="#").footer-menu__title-el Заполнить 3-НДФЛ онлайн
					a(href="#").footer-menu__title-el Частые вопросы
					a(href="#").footer-menu__title-el Как заполнить 3-НДФЛ
					a(href="#").footer-menu__title-el Декларация 2015
					a(href="#").footer-menu__title-el Подать 3-НДФЛ онлайн

				.footer-col
					.footer-menu__title Налоги
					a(href="#").footer-menu__title-el Подоходный налог
					a(href="#").footer-menu__title-el 3-НДФЛ по продаже машины
					a(href="#").footer-menu__title-el 3-НДФЛ по продаже квартиры
					a(href="#").footer-menu__title-el Сдаем квартиру: налоги
					a(href="#").footer-menu__title-el Транспортный налог
					a(href="#").footer-menu__title-el Земельный налог

				.footer-col
					.footer-menu__title Возврат налога
					a(href="#").footer-menu__title-el Что такое налоговый вычет
					a(href="#").footer-menu__title-el Вычет по лечению
					a(href="#").footer-menu__title-el Вычет по обучению
					a(href="#").footer-menu__title-el Вычет при покупке квартиры
					a(href="#").footer-menu__title-el Вычет по ценным бумагам
					a(href="#").footer-menu__title-el Имущественный вычет

				.footer-col
					.footer-menu__title Полезное
					a(href="#").footer-menu__title-el 3-НДФЛ: бланк
					a(href="#").footer-menu__title-el Документы для вычета
					a(href="#").footer-menu__title-el 3-НДФЛ: образец заполнения
					a(href="#").footer-menu__title-el Предпринимателю
					a(href="#").footer-menu__title-el Программы для 3-НДФЛ
					a(href="#").footer-menu__title-el Налогопедия
			//footer-menu-end

			//footer-bottom
			.footer-bottom
				a(href="#").footer-bottom__el Правовая информация
				a(href="#").footer-bottom__el Компаниям
				a(href="#").footer-bottom__el Карта сайта
				a(href="#").footer-bottom__el Улучшения
				a(href="#").footer-bottom__el ФНС
				a(href="#").footer-bottom__el Отзывы
				a(href="#").footer-bottom__el Риелторам
				a(href="#").footer-bottom__el Консультантам
				a(href="#").footer-bottom__el Партнерам
				a(href="#").footer-bottom__el Форум
			.footer-bottom__copyright ООО «Налогия»

			//footer-bottom-end

	//block footer end