//.footer

.footer-head
	flex(between)
	padding: 40px 0
	border-bottom:1px solid $border-color
	margin-bottom: 40px

.footer-head-cont
	width: 65%
	f()
	align-items: center

.footer-head-cont__el
	margin-right: 5%
	&:last-child
		margin-right: 0

.footer-head-cont__el-town
	up()
	color #888888

.footer-head-cont__el-phone
	font-size: 20px
	font-weight: 300

.footer-head-soc
	f()
	justify-content: center
	align-items: flex-end
	.icon-el
		size 24px
		margin-left: 20px
		fill blue
		tr(all)
		&:hover
			fill darken(blue,20)

//.footer-head-soc__el

.footer-menu
	f()
	justify-content: space-between
	padding-bottom 40px
	border-bottom:1px solid $border-color
	margin-bottom: 40px

.footer-col
	width: 24%

.footer-menu__title
	up()
	margin-bottom: 20px

.footer-menu__title-el
	tr(all)
	display: block
	margin-bottom: 10px
	color #888888
	&:hover
		color blue
.footer-bottom
	flex(between)
	padding-bottom: 40px

.footer-bottom__el
	tr(all)
	font-size: 14px
	color #888888
	&:hover
		color blue
