-
	pages = [
		{
			'name':'Элементы',
			'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		}
	]

	kinds = [
		{
		'icon':'icons-car',
		'title':'Продали автомашину или гараж?',
		'text':'Мы все расскажем: надо ли платить налог, надо ли подавать декларацию, и как ее заполнить.',
		},
		{
		'icon':'icons-operator',
		'title':'Хотите быстро заполнить 3-НДФЛ?',
		'text':'Мы поможем. Вы все сможете сделать, не выходя из дома. Быстро, удобно и правильно.',
		},
		{
		'icon':'icons-home',
		'title':'Купили жилье и хотите вернуть налоги?',
		'text':'Мы объясним, как вернуть налоги, и поможем подготовить для этого все документы.',
		},
		{
		'icon':'icons-hat',
		'title':'Потратили деньги на обучение?',
		'text':'Мы поможем вернуть часть Ваших расходов: читайте, как это можно сделать.',
		},
		{
		'icon':'icons-house',
		'title':'Продали квартиру, дом или землю?',
		'text':'Мы все расскажем: надо ли платить налог, надо ли подавать декларацию, и как ее заполнить.',
		},
		{
		'icon':'icons-calc',
		'title':'Считаете, сколько налогов можно вернуть?',
		'text':'Наш калькулятор подсчитает, сколько именно налогов Вы сможете вернуть.',
		},
		{
		'icon':'icons-question',
		'title':'Не знаете, как правильно подать декларацию?',
		'text':'Мы объясним, как правильно подать декларацию онлайн, чтобы не ходить в инспекцию.',
		},
		{
		'icon':'icons-helf',
		'title':'Потратили деньги на лечение?',
		'text':'Мы поможем вернуть часть Ваших расходов: читайте, как это можно сделать.',
		},
		{
		'icon':'icons-save',
		'title':'Потратили деньги на страхование жизни?',
		'text':'Мы поможем вернуть часть Ваших расходов: читайте, как это можно сделать.',
		},
		{
		'icon':'icons-iis',
		'title':'Вкладываете деньги в ИИС?',
		'text':'Мы поможем получить налоговый вычет по индивидуальному инвестиционному счету.',
		}
	]