/*! block navbars*/
.nav-get-ndfl
	box-shadow 0 10px 20px rgba(196, 208, 227, 0.5)
	border-radius 4px
	background-color #ffffff
	overflow: hidden
	margin-bottom: 30px
	display: block

.nav-get-ndfl__img
	height: 230px
	bg-full()

.navbar-title
	+below(768px)
		font-size:18px
	font-size 26px
	font-weight 300
	padding: 20px

.nav-get-ndfl__link
	padding: 20px

.navbar-menu
	box-shadow 0 10px 20px rgba(196, 208, 227, 0.5)
	border-radius 4px
	background-color #ffffff
	.navbar-menu__el
		&:first-child
			border-top 1px solid #dddddd!important

.navbar-menu__el-link
	+below(768px)
		font-size: 14px
	padding: 20px
	display: block
	cp()

.navbar-menu__el--sub
	display: block
	padding: 20px
	padding-left:40px
	border-top 1px solid #dddddd!important

.navbar-menu__el
	display: block
	border-bottom 1px solid #dddddd

.navbar-menu__el-link
	flex(between)
	tr(all)
	.icon-el
		size 11px
		tr(all)
	&:hover
		background: blue
		color white
		.icon-el
			fill white

.navbar-menu__el-link--active
	background: blue
	color white
	.icon-el
		fill white
		transform rotate(180deg)

.navbar-menu__sub
	display: none

/*!block navbars end */