mixin header()
	.header-container
		.header
			.header-layer
				.main-cont
					.header-wrap
						a(href="#").header-logo
							img(src="img/logo-main.svg", alt="").header-logo--white
							img(src="img/logo-blue.svg", alt="").header-logo--blue
						.header-nav
							- var items = ['О нас','Декларация 3-НДФЛ','Налоги','Покупка жилья','Другие вычеты','Полезное'];
							- each item in items
								.header-nav__el
									.header-nav__el-link-wrap
										a(href="#").header-nav__el-link #{item}
										.header-nav__el-icon
											+icon("arrow-down","icon-el")
									.header-nav__sub
										.coner-wrap
											.window-coner-top
											.header-nav__sub-wrap
												a(href="#").header-nav__sub-el О компании
												a(href="#").header-nav__sub-el Контакты
												a(href="#").header-nav__sub-el Карьера
												a(href="#").header-nav__sub-el Отзывы клиентов
												a(href="#").header-nav__sub-el Преимущества
												a(href="#").header-nav__sub-el Безопасность
												a(href="#").header-nav__sub-el Новости и советы
						.header-tools
							.header-search
								+icon("magnifying-glass","icon-el")
								.header-search-form
										.coner-wrap
											.window-coner-top
										.header-search-form-wrap
											form(action="#")
												.search-row
													input(type="text"  placeholder="Поиск").input-search
													input(type="submit" value="найти").btn-search.btn--blue.btn--md

							.header-tools__divider
							.header-cab
								+icon("padlock","icon-el")
								.header-cab__name Личный кабинет
								.header-auth
									.coner-wrap
										.window-coner-top
									.header-auth__wrap
										from(action="#")
											.input-row
												input(type="text"  data-input="Адрес электронной почты").input-animate
											.input-row
												input(type="text"  data-input="Пароль").input-animate
											.header-auth__check
												+checkbox('Запомнить меня')
											.header-auth__get
												input(type="submit" value="войти").btn--md.btn--blue
											.header-auth__link
												a(href="#") Забыли пароль?
												a(href="#") Регистрация
							.menu-toggle
								+icon("menu","icon-el")
		.main-cont
			.header-contact
				a(href="tel:8 (495) 646 8905").header-contact__el Москва 8 (495) 646 8905
				a(href="tel:8 (812) 643 4225").header-contact__el Санкт-Петербург 8 (812) 643 4225
				a(href="tel:8 800 500 3478").header-contact__el Россия 8 800 500 3478 (бесплатно)

	//block header end